body {
    background-color: #FCFCFC ;
}

.summary > a {
    cursor: none;
}

.summary > .report {
    color: rgba(0,0,0,.87);
}

.scrollable {
    height: 800px;
    position: relative;
}

.middle {
    display: block !important;
    margin: 0 auto !important;
}




.event.ng-enter, .event.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}

#xaxis .domain {
    fill:none;
    stroke:#000;
}
#xaxis text, #yaxis text {
    font-size: 12px;
}