{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "styles/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "perfect-scrollbar/css/perfect-scrollbar.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "semantic/dist/semantic.min.css" %}">

</head>
<body ng-app="newsApp">
<div ui-view class="container" style="position: absolute; width:100%">
</div>
<script src="{% static "angular/angular.min.js" %}"></script>
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "angular-ui-router/release/angular-ui-router.min.js" %}"></script>
<script src="{% static "angular-route/angular-route.min.js" %}"></script>
<script src="{% static "semantic/dist/semantic.min.js" %}"></script>
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "d3/d3.js" %}"></script>
<script src="{% static "moment/min/moment-with-locales.js"%}"></script>
<script src="{% static "ngInfiniteScroll/build/ng-infinite-scroll.min.js"%}"></script>
<script src="{% static "perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"%}"></script>
<script src="{% static "angular-animate/angular-animate.min.js"%}"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>