<div class="ui inverted menu">
    <a class="active item">Home </a>
    <a class="item">Messages </a>
    <a class="item">好友 </a>
</div>
<div class="ui grid">
    <div class="ten wide column">
        <div class="ui large feed">
            <div class="event">
                <div class="label">
                    <img src="/images/avatar/small/elliot.jpg">
                </div>
                <div class="content">
                    <div class="summary">
                        <a class="user">
                            Elliot Fu
                        </a> added you as a friend
                        <div class="date">
                            1 Hour Ago
                        </div>
                    </div>
                    <div class="meta">
                        <a class="like">
                            <i class="like icon"></i> 4 Likes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="six wide column">
        <svg id="map"></svg>
    </div>
</div>
