<div class="ui inverted menu">
    <a class="active item">Home </a>
    <a class="item">Messages </a>
    <a class="item">好友 </a>
</div>
<div class="ui container grid">
    <div class="ten wide column">
        <div class="ui large custom feed">
            <div class="event" ng-repeat="report in news">
                <div class="content">
                    <div class="summary">
                        <a class="user">
                            {{ report.author | newsTypeToName }}
                        </a>
                        <a class="report">
                            {{ report.title }}
                        </a>

                    </div>
                    <div class="meta">
                        <span class="date">
                            {{ report.date_time | dateFromNow }}
                        </span>
                        <span ng-if="report.region != ''">
                            <i class="pin icon"></i>
                            {{ report.region }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="six wide column">
        <svg id="map"></svg>
    </div>
</div>
